body {
    margin: 0;
    padding: 0;
    font-family: arial ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

    background: url("coquette🎀.jpeg") no-repeat center center fixed;
    background-size: cover;
}

h1{
  margin: 20px;
  color: rgb(255, 0, 170);
  text-align: center;
}


.container {
  display: grid; /* organiza os cards em linha */
  flex-wrap: wrap;
  gap: 26px;     /* espaço entre eles */
  justify-content: center; /* centraliza */
  max-width: 800px;
  margin: 40px, auto;
  align-items: center;
  background: transparent;
  grid-template-columns: repeat(2, 1fr)
}

.card1, .card2, .card3, .card4{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  color: rgb(255, 0, 170);
  backdrop-filter: blur (10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow:  0 4px 10px rgba(0, 0, 0, 0.2);

}
footer{
  font-family: Arial;
  color: rgb(255, 0, 170);
}

.botao1, .botao2, .botao3{
    background: #ff00aa;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
  font-family: 'Pacifico', cursive;

}

footer p {
  margin: 0 auto;
  font-size: 20px;
  width: 215%; 
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: 20px 0;
}
h1 {
  margin: 20px;
  color: #ff00aa;
  text-align: center;
  text-shadow: 0 0 10px #ff00aa,
               0 0 20px #ff33bb,
               0 0 40px #ff66cc,
               0 0 80px #ff99dd;
               
}